@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$color1: #D8CEC2;
$color2: #1D253C;
$color3: #F3D16A;
$color4: #8C878B;
$color5: #7C9400;
$police1: "Roboto", "Sans-serif";


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: $color1;
    font-size: 16px;
    color: $color3;
    font-family: $police1;
}
a {
    color: $color1;

}