$color1: rgb(216, 193, 193);


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: blue;
    font-size: 16px;
    color: $color1;
}
a {
    color: $color1;
}