header{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url('../images/bg-header.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    clip-path: polygon(100% 0, 100% 100%, 50% 90%, 0 100%, 0 0);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    position: relative;
    top: -24px;
    .header-banner {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-top: 45px;
        padding-bottom:35px;
        color: $color4;
        text-shadow: 1px 1px 3px $color2;
        font-size: 3rem;
    }
    nav {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        li{
            list-style-type: none;
            margin-right: 2rem;
            padding-top: 25px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
            }
        }
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
    }
}



@media screen and (max-width: 970px) {
    header {
        .header-banner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        h1 {
            grid-row:- 1;
        }
        nav {
            display: flex;
            flex-direction: column;
        }
        h2 {
            position: absolute;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -75%);
            font-size: 2.5rem;
        }
        
    }
    
}

@media screen and (max-width: 450px) {
    body {
        font-size: 15px;
        h2 {
            font-size: 1.5rem;
        }
    }
}

